<!-- Topbar Start -->
<div class="navbar-custom">
  <div class="container-fluid">
    <ul class="list-unstyled topnav-menu float-right mb-0">
      <li class="dropdown notification-list">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle nav-link" [ngClass]="{'open': openMobileMenu}" (click)="toggleMobileMenu($event)"
          href="javascript: void(0);">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
      </li>
      <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle  waves-effect waves-light" href="javascript: void(0);" role="button"
          aria-haspopup="false" aria-expanded="false">
          <i class="fa fa-shopping-basket noti-icon"></i>
          <span class="badge badge-danger rounded-circle noti-icon-badge" *ngIf="basketCount>0">{{basketCount}}</span>
        </a>
      </li>

      <li class="dropdown d-none d-lg-block" ngbDropdown>
        <a class="nav-link dropdown-toggle waves-effect waves-light" href="javascript: void(0);" ngbDropdownToggle
          id="extraMenu" aria-expanded="false">
          <i class="fas fa-cog fa-lg"></i>
          <i class="mdi mdi-chevron-down"></i>
        </a>
        <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="extraMenu">
          <a routerLink="/app/settings/users" routerLinkActive="active" class="dropdown-item">
            <i class="fas fa-users-cog mr-1"></i>
            <span>USERS</span>
          </a>
          <a routerLink="/app/settings/connection" routerLinkActive="active" class="dropdown-item">
            <i class="fas fa-database mr-1"></i>
            <span>CONNECTION</span>
          </a>
        </div>
      </li>
      <li class="dropdown notification-list" ngbDropdown>
        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" ngbDropdownToggle
          id="profileDropdown" href="javascript: void(0);" role="button" aria-haspopup="false" aria-expanded="false">
          <i class="fas fa-user-circle fa-2x" style="vertical-align: middle"></i>
          <span class="pro-user-name ml-1">
            Admin <i class="mdi mdi-chevron-down"></i>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="profileDropdown"
          ngbDropdownMenu>
          <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0">Welcome !</h6>
          </div>
          <div class="dropdown-divider"></div>
          <!-- item-->
          <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="logout()">
            <i class="fe-log-out"></i>
            <span>Logout</span>
          </a>
        </div>
      </li>
    </ul>

    <!-- LOGO -->
    <div class="logo-box">
      <a href="/" class="logo text-center">
        <span class="logo-lg">
          <img src="assets/images/logo-dark.png" alt="" height="18" />
        </span>
        <span class="logo-sm">
          <img src="assets/images/logo-dark.png" alt="" height="24" />
        </span>
      </a>
    </div>
    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
      <li class="dropdown d-none d-lg-block">
        <a class="nav-link app-name-text">
          Data Migration Utility
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- end Topbar -->